<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcbs.theresistanceavalon" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/HowToPlay" >
        </activity>
        <activity
            android:name=".GameSetupActivity"
            android:label="@string/setup" >
        </activity>
        <activity
            android:name=".EnterPlayerNames"
            android:label="@string/enterNames" >
        </activity>
        <activity
            android:name=".RevealPlayersActivity"
            android:label="@string/title_activity_reveal_players" >
        </activity>
        <activity
            android:name=".RoundSummaryActivity"
            android:label="@string/title_activity_round_summary" >
        </activity>
        <activity
            android:name=".RoundOneActivity"
            android:label="@string/title_activity_round_one" >
        </activity>
        <activity
            android:name=".RoundTwoActivity"
            android:label="@string/title_activity_round_two" >
        </activity>
        <activity
            android:name=".RoundThreeActivity"
            android:label="@string/title_activity_round_three" >
        </activity>
        <activity
            android:name=".RoundFourActivity"
            android:label="@string/title_activity_round_four" >
        </activity>
        <activity
            android:name=".RoundFiveActivity"
            android:label="@string/title_activity_round_five" >
        </activity>
        <activity
            android:name=".AssembleTeamActivity"
            android:label="@string/title_activity_assemble_team" >
        </activity>
        <activity
            android:name=".TeamVoteActivity"
            android:label="@string/title_activity_team_vote" >
        </activity>
        <activity
            android:name=".GameOverActivity"
            android:label="@string/title_activity_game_over" >
        </activity>
        <activity
            android:name=".QuestVoteActivity"
            android:label="@string/title_activity_quest_vote" >
        </activity>
    </application>

</manifest>
